.container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-style: unset;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    border-width: 25px;
    border-style: solid;
    border-color: #7ec8e3;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos adicionales del formulario y sus elementos dentro del contenedor */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #089cc9;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

select {
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
